<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

	<head>
	  <title>My Courses</title>
	</head>

	<body>
		<div class="row">
			<div class="span1"/>
			<div class="span10">
				<h3 py:if="courses_enrolled">My Enrolled Courses</h3>
				<div class="accordion" id="accordion2">
				  <div class="accordion-group" py:for="course in courses_enrolled">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse${course.id}">
				        <b>${course.name}</b>
				      </a>
				    </div>
				    <div id="collapse${course.id}" class="accordion-body collapse in">
				      <div class="accordion-inner">
				        <table class="table table-striped">
								  <thead>
								    <tr>
											<th></th>
								      <th>Paper</th>
								      <th>Due Date</th>
										<th>Score</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr py:for="r in courses_enrolled[course]">
											<td>
												<a href="/summary/create?paper_id=${r.p_paper_id}"><button class="btn btn-mini btn-inverse" type="button" py:if="not r.summary_id">submit</button></a>
												<span py:if="r.summary_id"><a href="/summary/view?summary_id=${r.summary_id}"><button class="btn btn-mini btn-success" type="button">review</button></a></span>
											</td>
								      <td><a href="${r.download_url}">${r.name}</a></td>
										
								      <td>${r.due_date}</td>
									<td>${r.avg_rating}</td>
								    </tr>
								  </tbody>
								</table>
				      </div>
				    </div>
				  </div>
					<h3 py:if="courses_taught">My Administered Courses</h3>
					<div class="accordion-group" py:for="course in courses_taught">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" href="/course/view?course_id=${course.id}">
				        <b>${course.name}</b>
				      </a>
				    </div>
				  </div>
				</div>
			</div>
			</div>
	</body>
</html>
