<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html"/>

  <head>
    <title>View Summary</title>
  </head>

  <body>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/jquery.validate.js"></script>
    <div class="row">
      <div class="span10 offset1">
        <h3>My Account</h3>
        <p><b>Name:</b> ${user.display_name}</p>
        <p><b>Login:</b> ${user.user_name}</p>
        <p><b>E-mail:</b> ${user.email_address}</p>
        <br/>
        <h3>Reset Password</h3>
        <form id="passwordform" method="POST" action="/_reset_password">
	  <div class="control-group">
              <div class="controls">
                <input type="password" name="old_password" class="required" placeholder="Old Password"/>
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                <input type="password" name="password1" id="password1" placeholder="Password"/>
              </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="password" name="password2" id="password2" placeholder="Verify Password"/>
            </div>
          </div>
          <div class="control-group">
                <button type="submit" class="btn btn-primary">Reset Password</button>
          </div> 
        </form>
        <script type="text/javascript">
          $("#passwordform").validate({
            rules: {
              password1: {
                required: true,
                minlength: 6,
                maxlength: 256
              },
              password2: {
                equalTo: "#password1"
              }
            },
            messages: {
              password1: "Password is required and must be 6 to 256 characters in length.",
              password2: "Passwords do not match"
            }
          })
        </script>
      </div>
    </div>
  </body>

</html>
