<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

	<head>
	  <title>My Summaries</title>
	</head>

	<body>
		<div class="row">
			<div class="span1"/>
			<div class="span10">
				<h3>My Summaries</h3>
				 <table class="table table-striped">
					  <thead>
					    <tr>
								<th></th>
					      <th>Paper</th>
					      <th>Submitted</th>
								<th>Rating</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr py:for="r in summaries">
								<td>
									<a href="/summary/view?summary_id=${r.summary_id}"><button class="btn btn-mini btn-inverse" type="button">view</button></a>
								</td>
					      <td><a href="${r.download_url}">${r.name}</a></td>
					      <td>${r.submitted_at}</td>
								<td>${r.avg_rating}</td>
					    </tr>
					  </tbody>
					</table>
			</div>	
		</div>
	</body>
</html>
