<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html"/>

  <head>
    <title>View Summary</title>
  </head>

  <body>
    <div class="row">
      <div class="span1"/>
      <div class="span10">
        <h3>View Paper Response</h3>
        <h5>Paper Title</h5><p><a href="${paper.download_url}">${paper.name}</a></p>
        <h5>Abstract</h5><p><small>${paper.abstract}</small></p>
        <h5>Submission Details</h5><p>${summary.submitted_at} by ${summary.student.display_name}</p>
	<h5>Paper Response</h5><py:for each="line in summary.summary.split('\n')">${line}<br/></py:for>
        <h5>Comments and Ratings</h5>
        <div py:if="not summary.reviews"><p>no comments currently available</p></div>
        <div py:for="review in summary.reviews">
          <blockquote>
            <p>
              <span class="label label-important" py:if="review.rating == 0">${str(review.rating)} - reading</span>
              <span class="label label-warning" py:if="review.rating == 1">${str(review.rating)} - reading</span>
              <span class="label label-info" py:if="review.rating == 2">${str(review.rating)} - reading</span>
              <span class="label label-success" py:if="review.rating == 3">${str(review.rating)} - reading</span>
              
              <span class="label label-important" py:if="review.insight_rating == 0">${str(review.insight_rating)} - insight</span>
              <span class="label label-warning" py:if="review.insight_rating == 1">${str(review.insight_rating)} - insight</span>
              <span class="label label-info" py:if="review.insight_rating == 2">${str(review.insight_rating)} - insight</span>
              <span class="label label-success" py:if="review.insight_rating == 3">${str(review.insight_rating)} - insight</span>
              ${review.comments if review.comments else "no comments."}
            </p>
            <small py:if="review.type=='student_review'">Anonymous Student</small>
            <small py:if="review.type=='instructor_review'">${review.creator.display_name}</small>
          </blockquote>
        </div>
      </div>  
    </div>
  </body>
</html>
